Vagrant.configure("2") do |config|
  #version of the box
  config.vm.box = "{{ item.ver }}"

  config.vm.provider :virtualbox do |vb|
    #name the VM
    vb.name = "{{ item.hostname }}"
  end

  #homelab uses DHCP based on MAC Addresses
  config.vm.base_mac = "{{ item.mac_address }}"
  config.vm.network "public_network", :bridge => "{{ ansible_interfaces.0 }}", :mac => "{{ item.mac_address }}"

  #add our service account pubkey to vagrant user
  ssh_pub_key = File.readlines("{{ vagrant_setup_data_absolute_path }}/{{ vault_svc_ssh_user }}-id_rsa.pub").first.strip
  config.vm.provision "shell", inline: "echo #{ssh_pub_key} > /home/vagrant/.ssh/authorized_keys"
end
