[global]
	hosts allow = 192.168.2.
	workgroup = WORKGROUP
	log file = /var/log/samba/log.%m
	log level = 2
	max log size = 1023
	security = user
	map to guest = bad user

[{{ smb_share_name }}]
	comment = {{ smb_share_name }}
	path = {{ smb_hostdata_dir }}
	browseable = yes
	writeable = yes
	guest ok = yes
	read only = no
	force user = root
